@import 'vars';

.bp-banner {
  background-color: fade-out(black, $amount-globalOpacity);
  padding: $padding-banner;
  padding-left: $margin-content;
}

ul.bp-banner {
  list-style: none;
  margin: 0;
}

.bp-banner--secondary {
  background-color: fade-out($color-pornPink, $amount-globalOpacity);
  color: white;
}

.bp-banner--primary {
  font-size: $fontSize-largest;
  color: $color-pornPink;
  margin: 40px 0;
}

.bp-content .bp-banner--leftDockRounded {
  border-radius: 0 $borderRadius-banner--leftDockRounded $borderRadius-banner--leftDockRounded 0px;
  margin-left: -$margin-content;
}
