@import 'vars';

.bp-brand {
  line-height: 1;
  font-size: $fontSize-largest;
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.bp-brand-highlight {
  color: $color-pornPink
}
